import(ggplot2)

export(prevalence)
export(random_baseline_man)
export(random_baseline_pig)
export(initiate)
export(do_mda)
export(do_oxf)
export(do_vac)

S3method(update, cystiSim)
S3method(print, cystiSim)
S3method(plot, cystiSim)