import(ggplot2)
import(magrittr)

export(prevalence)
export(random_baseline_man)
export(random_baseline_pig)
export(slaughter_nbinom)
export(slaughter_binom)
export(initiate)
export(do_mda)
export(do_oxf)
export(do_vac)
export(fit)
export(sim)
export(report)

S3method(update, cystiSim)
S3method(print, cystiSim)
S3method(plot, cystiSim)

S3method(print, cystiSims)
S3method(summary, cystiSims)
S3method(plot, cystiSims)
S3method(report, cystiSims)