import(ggplot2)
importFrom(magrittr, "%>%")
importFrom(knitr, knit2pdf)

export(prevalence)
export(random_baseline_man)
export(random_baseline_pig)
export(slaughter_nbinom)
export(slaughter_binom)
export(initiate)
export(do_mda)
export(do_oxf)
export(do_vac)
export(do_oxf_vac)
export(fit)
export(cystiSim)
export(report)
export(elim)

S3method(update, cystiRun)
S3method(print, cystiRun)
S3method(plot, cystiRun)

S3method(print, cystiSim)
S3method(summary, cystiSim)
S3method(plot, cystiSim)
S3method(report, cystiSim)
S3method(elim, cystiSim)
